.layout {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0.18fr 0.24fr 0.26fr 0.32fr;
  grid-template-areas:
    "hero hero hero hero"
    "a b c c"
    "d d e e"
    "d d f g";
}
