.layout {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0.18fr 0.22fr 0.3fr 0.3fr;
  grid-template-areas:
    "hero hero hero hero"
    "a a b c"
    "d d d e"
    "f f f e";
}
