.layout {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 0.18fr 0.24fr 0.25fr 0.33fr;
  grid-template-areas:
    "hero hero hero hero"
    "a a b b"
    "c d e f"
    "g g g f";
}
